:root {
    --Poppins: 'Poppins', sans-serif;
    --fs_15: 15px;

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --Shadow-clg: hsl(215, 41%, 92%);
}

body {
    font-size: var(--fs_15);
    font-size: var(--Poppins);
    background-color: var(--VeryLightGray);
    padding: 0;
    margin: 0;
    /* background: var(--VeryLightGray); */
}

section.intro {
    padding: 7rem 2rem;
    display: grid;
    gap: 6rem;
}

div.intro__uppergrid--container {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.intro__heading {
    text-align: center;
    margin: 0;
    font-family: var(--Poppins);
    color: var(--VeryDarkBlue);
    font-size: 1.91rem;
}

.intro__heading--fw400 {
    font-weight: 200;
}

.intro__paragraph {
    text-align: center;
    margin: 0;
    color: var(--GrayishBlue);
    font-family: var(--Poppins);
    font-size: 1.2rem;
    padding: 0 .6rem;
    /* width: 23rem; */
}

main.grid-container {
    display: grid;
    gap: 1.5rem;
}

main.grid-container>div.grid__item {
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 20px 10px var(--Shadow-clg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 4px solid var(--border-top);
    gap: 1rem;
}
     
main.grid-container>div.grid__item 
> h2 {
    padding: 0;
    margin: 0;
    font-family: var(--Poppins);
    color:var(--VeryDarkBlue);
    grid-column: span 3;
}
main.grid-container>div.grid__item 
> p {
    font-family: var(--Poppins);
    color: var(--GrayishBlue);
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    grid-column: span 3;
}
main.grid-container>div.grid__item > img {
    padding: 1rem 0;
    display: grid;
    grid-column: 3 / 4;
}
main.grid-container>div.grid__item:nth-child(1) {
    --border-top: var(--Cyan);
}

main.grid-container>div.grid__item:nth-child(2) {
    --border-top: var(--Red);
}

main.grid-container>div.grid__item:nth-child(3) {
    --border-top: var(--Orange);
}

main.grid-container>div.grid__item:nth-child(4) {
    --border-top: var(--Blue);
}

@media (min-width: 70em) {
    body {
      
    }
}