@font-face {
    font-family: "Minecraft";
    src: url(../font/Minecraft.ttf);
}
:root {
    --root-bg-light:#eef4fb;
    --blue-light:#40abfc;
    --white:#fff;
    --ff-Minecraft: "Minecraft";
}
* {
    margin:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: var(--root-bg-light);
}
header.header {
    width:100%;
    padding: 1.2rem;
    background:var(--white);
}

.container {
    width: min(90%, 75rem);
    margin: 0 auto;
    display: flex;
    justify-content: center;
  align-items: center;
}

header.header > .container {
    padding: 2rem;
}

header.header > .container > h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--ff-Minecraft);
    text-align: center;
}

.card-container > .container {
    padding: 1rem;
}

ul.list-itme-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin:.1rem;
    padding: .2rem;
}

li.list-itme-box {
    list-style-type: none;
    background-color: var(--white);
    display: flex;
    padding: .1rem;
    border-radius: .5rem;
    justify-content: space-between;
    width: 320px;
    margin: 0 .5rem;
}
li.list-itme-box > a {
    width: 100%;
    padding: .82rem;
    text-align: center;
    text-decoration: none;
    color:black;
    text-shadow: 0 0 3px #f70f0f, 0 0 5px #ffffff; 
}