:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 45.9%);
    --Black: hsl(0, 0%, 7%);
    --Figtree: 'Figtree', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--Yellow);
    font-family: var(--Figtree);
    /* height: 100vh; */
}

main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

a {
    color: var(--Black);
    text-decoration: none;
    font-weight: 800;
    font-family: var(--Figtree);
}

.card {
    min-width: 280px;
    width: 90%;
    max-width: 375px;
    background-color: var(--White);
    border: 1px solid var(--Black);
    border-radius: 1.5rem;
    box-shadow: .5rem .5rem var(--Black);
    padding: 1.5rem;
    margin: auto;
}

.card>img {
    border-radius: .75rem;
    height: 13rem;
    object-fit: cover;
}

.card>img+button {
    background-color: var(--Yellow);
    margin: 1rem 0;
    padding: .3rem .6rem;
    text-decoration: none;
    font-size: .7rem;
    border-radius: .2rem;
    display: inline-block !important;
    outline: none;
    border: none;
}

#card__btn+p {
    margin: 0;
    font-family: var(--Figtree);
    font-size: 14px;
}


.card__description {
    color: var(--Grey);
}

.author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.author>span {
    color: var(--Black);
    text-decoration: none;
    font-weight: 800;
    font-family: var(--Figtree);
}

.author>img {
    width: 2rem;
}