@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

    --font-size: .8125rem;
    --w500: 500;
    --w600: 600;
    --ff-barlow: 'Barlow Semi Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100dvh;
    align-items: center;
    position: relative;
    background: var(--LightGrayishBlue);
}

main.container {
    width: min(85%, 1200px);
    height: 35rem;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    /* border:.0625rem solid red; */
    gap: .5rem;
}

div.left-container,
div.right-container {
    /* border: 1px solid blue; */
    gap: .5rem;
}

div.left-container {
    display: flex;
    flex-flow: column;
    flex: 2;
    height: 100%;
    gap: .5rem;
}

/* div.left-container * {
    border: 1px solid black;
    gap: .5rem;
} */
div.top-flex-unit,
div.bottom-flex-unit {
    /* border: 3px solid orange; */
    display: flex;
    height: 50%;
    gap: .5rem;
}

div.right-container {
    height: 100%;
    width: 260px;
}

article.article-container {
    background: var(--LightGray);
    padding: 1rem;
    font-family: var(--ff-barlow);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    gap: .8rem;
    color: var(--White);
}

article.DanielClifford {
    background: var(--Moderate-violet) url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 20%;
}

article.JonathanWalters {
    background-color: var(--VeryDarkGrayishBlue);
}

article.JeanetteHarmon,
article.KiraWhittle {
    background-color: var(--White);
    color: var(--VeryDarkBlackishBlue) !important;
}

article.PatrickAbrams {
    background-color: var(--VeryDarkBlackishBlue);
}

article.article-container>div#top {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

article.article-container>div#top>#article-image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: .15rem solid var(--LightGray);
}

article.PatrickAbrams>div#top>#article-image {
    border-color: var(--Moderate-violet);
}

article.article-container>div#top>div.flex-name-feild {
    font-size: 1rem;
}

article.article-container>div#top>div.flex-name-feild {

    color: inherit;
}

article.article-container>div#top>div.flex-name-feild :last-child {
    color: var(--LightGray);
}

article.article-container>div#mid>h1 {
    font-size: 1.5rem;
    color: inherit;
}

article.article-container>div#bottom>p {
    font-size: 0.93rem;
    color: var(--LightGray);
}

@media only screen and (max-width:700px) {
    .container {
        width: min(85%, 1200px);
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        border: .0625rem solid red;
        height: 100% !important;
        gap: 0;
    }
    div.left-container,
    div.right-container {
        margin: .5rem 0 .5rem 0;
        flex: 0;
        gap: 0;
    }
    div.top-flex-unit ,
    div.bottom-flex-unit {
        height: 100%;
        flex-flow: column;
        gap: 0;
    }
    div.left-container {
        height: 100%;
        margin: 2rem 0;
    }
    article.article-container {
        margin: .5rem 0;
        width: 100%;
    }

    /* article.article-container { 
        width: 100% !important; 
        margin: .5rem 0;
        flex: 1;
    } */
}